@import 
url("https://fonts.googleapis.com/css?family=Dosis:300&display=swap");

body {
  height: 100%;
}

p {
  margin-top: 5px;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
}

h2 {
  font-family: 'Dosis', sans-serif;
  color: #0a0708;
  font-size: 25px;
  text-align: center;
  margin: 15px;
  margin-bottom: 30px;
}

h3 {
  font-family: 'Dosis', sans-serif;
  color: #0a0708;
  font-size: 22px;
  text-align: center;
}

#message {
  font-family: 'Dosis', sans-serif;
  color: #0a0708;
  text-align: center;
  font-size: 20px;
}

#mainHeader {
  margin: 30px auto;
  max-width: 1000px;
  position: relative;
}

#mainHeader h2 {
  font-size: 40px;
}

#container {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

#content {
  max-width: 700px;
  position: relative;
  margin: 0 auto;
}

#content h2 {
  font-family: 'Dosis', sans-serif;
  color: #666666;
  font-size: 20px;
  text-align: left;
  margin: 10px 0;
  font-weight: bold;
}

#note {
  font-family: 'Dosis', sans-serif;
  font-size: 12px;
  color: #59575a;
  text-align: center;
}

#logo {
  display: block;
  width: 25%;
  height: 25%;
  margin: 0 auto;
}

.navbar {
  max-width: 1000px;
  margin: auto;
  background-color: white;
  font-family: 'Dosis', sans-serif;
  border: none;
  font-size: 18px;
}

.navbar .navbar-nav {
  float: right;
}

.navbar a {
  color: black;
  opacity: 0.5;
  transition: 0.7s ease-in-out;
  -webkit-transition: 0.7s ease-in-out;
  -ms-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
}

.navbar a:hover {
  color: black;
  opacity: 1;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: black;
    background: none;
    opacity: 1;
}